<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>static_jsp</filter-name>
        <filter-class>com.neosoft.filter.CarInfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>static_jsp</filter-name>
        <url-pattern>/carType</url-pattern>
        <url-pattern>/carType.jsp</url-pattern>
        <url-pattern>/carStartTab</url-pattern>
        <url-pattern>/carStartTab.jsp</url-pattern>
        <url-pattern>/carTicketInfo</url-pattern>
        <url-pattern>/carTicketInfo.jsp</url-pattern>
        <url-pattern>/carTicketTab</url-pattern>
        <url-pattern>/carTicketTab.jsp</url-pattern>
        <url-pattern>/sellTicketInfo</url-pattern>
        <url-pattern>/sellTicketInfo.jsp</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/countNum</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.neosoft.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.neosoft.listener.CountPeopleListener</listener-class>
    </listener>
</web-app>